@model ConferenceGetAdminDTO


<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="meeting-single-item">
                            <div class="thumb">
                                <div class="price">
                                    <span> @Html.Raw(new DateTime(Model.Day, Model.StartedDate).ToString("HH:mm") + "-" + new DateTime(Model.Day, Model.EndDate).ToString("HH:mm"))</span>
                                </div>
                                <div class="date">
                                    <h6> @Html.Raw(new DateTime(Model.Day, Model.StartedDate).ToString("MMMM", new CultureInfo(Thread.CurrentThread.CurrentCulture.Name))) <span>@Html.Raw(new DateTime(Model.Day, Model.StartedDate).ToString("dd"))</span></h6>
                                </div>
                                <a>
                                    <img style=" object-fit: contain;" width="1296px" height="465px" src="@Model.ImgUrl" alt="">
                                </a>
                            </div>
                            <div class="down-content">
                                <a ><h4>@Model.ConferenceName</h4></a>
                                <p>H.Cavid prospekti 25, Bakı, Azərbaycan AZ 1073 Azərbaycan Texniki Universiteti. Auditoria № @Model.AudutoriumName</p>
                                <p class="description">
                                  @Model.ConferenceContent
                                </p>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="hours">
                                            <h5>@_localization.GetKey("ConfranceDetailHours")</h5>
                                            <p>
                                                @Html.Raw(new DateTime(Model.Day, Model.StartedDate).ToString("yyyy-MM-dd HH:mm") + "-" + new DateTime(Model.Day, Model.EndDate).ToString("yyyy-MM-dd HH:mm"))
                                               
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="location">
                                            <h5>@_localization.GetKey("ConfranceDetailLocation")</h5>
                                            <p>H.Cavid prospekti 25, Bakı, Azərbaycan AZ 1073 Azərbaycan Texniki Universiteti.<br/> Auditoria № @Model.AudutoriumName</p>

                                        </div>
                                    </div>
                                 
                               
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-button-red">
                            <a href="/Conferences/index">@_localization.GetKey("ConfranceDetailBacToAllConferance")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>