@model ConferenceGetDetailForUIDTO


<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="meeting-single-item">
                            <div class="thumb">
                                <div class="price">
                                    <span> @Html.Raw(new DateTime(Model.Day, Model.StartedDate).ToString("HH:mm") + "-" + new DateTime(Model.Day, Model.EndDate).ToString("HH:mm"))</span>
                                </div>
                                <div class="date">
                                    <h6> @Html.Raw(new DateTime(Model.Day, Model.StartedDate).ToString("MMMM", new CultureInfo(Thread.CurrentThread.CurrentCulture.Name))) <span>@Html.Raw(new DateTime(Model.Day, Model.StartedDate).ToString("dd"))</span></h6>
                                </div>
                                <a>
                                    <img style=" object-fit: contain;" width="1296px" height="465px" src="@Model.ImgUrl" alt="">
                                </a>
                            </div>
                            <div class="down-content">
                                <a ><h4>@Model.ConferenceName</h4></a>
                                <p>H.Cavid prospekti 25, Bakı, Azərbaycan AZ 1073 Azərbaycan Texniki Universiteti. Auditoria № @Model.AudutoriumName</p>
                                <p class="description">
                                  @Model.ConferenceContent
                                </p>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="hours">
                                            <h5>@_localization.GetKey("ConfranceDetailHours")</h5>
                                            <p>
                                                @Html.Raw(new DateTime(Model.Day, Model.StartedDate).ToString("yyyy-MM-dd HH:mm") + "-" + new DateTime(Model.Day, Model.EndDate).ToString("yyyy-MM-dd HH:mm"))
                                               
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="location">
                                            <h5>@_localization.GetKey("ConfranceDetailLocation")</h5>
                                            <p>H.Cavid prospekti 25, Bakı, Azərbaycan AZ 1073 Azərbaycan Texniki Universiteti.<br/> Auditoria № @Model.AudutoriumName</p>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="location">
                                            <h5>@_localization.GetKey("SpecialGuest")</h5>
                                           @foreach (var guest in Model.specialGuests)
                                            {
                                                <p>

                                                @guest.Name 
                                                </p>
                                                <br/>
                                            }

                                        </div>
                                    </div>
                               
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>@_localization.GetKey("ConferenceRegistredUserCount")</p>
                                        <div><i class="fa-regular fa-user"></i> <span class="text2">@Model.CurrentPerson</span></div>
                                    </div>
                                </div>
                                @if (User.Identity.IsAuthenticated && new DateTime(Model.Day, Model.StartedDate) < DateTime.Now && Model.IsSavedPdf)
                                {
                                    
                                    <a target="_blank" href="@Model.PdfUrl" class="btn btn-outline-info"><i class="fa-solid fa-file-pdf"></i></a>
                                }
                                else if (User.Identity.IsAuthenticated && new DateTime(Model.Day, Model.StartedDate) < DateTime.Now)
                                {
                                    <button target="_blank" onclick="OpenPdf('@Model.Id')" class="btn btn-outline-info"><i class="fa-solid fa-file-pdf"></i></button>
                                }
                            </div>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated && new DateTime(Model.Day, Model.StartedDate) > DateTime.Now && !Model.UsersId.Contains(ViewBag.CurrentUserId))
                    {
                        
                    <div class="col-lg-12 mt-1">
                        <div class="main-button-red">
                                <button onclick="RegisterConference('@Model.Id')">@_localization.GetKey("RegisterForConference")</button>
                        </div>
                    </div>
                    }
                    <div class="col-lg-12">
                        <div class="main-button-red">
                            <a href="/Conferences/index">@_localization.GetKey("ConfranceDetailBacToAllConferance")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="comments w-100">

   

        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div style="font-size:50px;" class="col-5 text-white my-5 text-center text-capitalize caption">
                    @_localization.GetKey("ConferenceDetailReview")
                </div>
            </div>
        <div class="row justify-content-between">
                    <div class="col-6" style="max-height: calc(100vh - 30vh);overflow-y: scroll;">
@foreach (var Comment in Model.Comments)
                    {
                        if (User.Identity.IsAuthenticated && ViewBag.CurrentUserId==Comment.UserId)
                        {
                            
    <div class="container justify-content-center mt-5 border-left border-right">
        <div class="d-flex justify-content-center py-2">
            <div class="second py-2 px-2">
                                    <div><i class="fa-regular fa-user"></i> <span class="text2">@Comment.UserFullName</span></div>
                <span class="text1"> @Comment.Content</span>
                <div class="d-flex justify-content-between py-1 pt-2">
                                            @* <div><i class="fa-solid fa-pen"></i> </div> *@
                                        <div>
                                            @if (Comment.UpdateDate==default(DateTime))
                                            {

                                                    <span class="text3">@_localization.GetKey("ConferenceDetailShareDateComment")</span>
                                            }
                                            else
                                            {
                                                    <span class="text3">@_localization.GetKey("ConferenceDetailUpdateDateComment")</span>
                                            }
                                            <span class="thumbup">
                                            @if (Comment.UpdateDate == default(DateTime))
                                            {

                                               
                                               
                                                    @Comment.CreatedDate.ToString("yyyy-MM-dd HH:mm",new CultureInfo(Thread.CurrentThread.CurrentCulture.Name))
                                            }
                                                else
                                                {
                                                    @Comment.UpdateDate.ToString("yyyy-MM-dd HH:mm", new CultureInfo(Thread.CurrentThread.CurrentCulture.Name))

                                                }
                                                </span >
                                        </div>
                </div>
            </div>
        </div>

    </div>
                        }else if(Comment.IsSafe)
                        {
                            <div class="container justify-content-center mt-5 border-left border-right">
                                <div class="d-flex justify-content-center py-2">
                                    <div class="second py-2 px-2">
                                        <div><i class="fa-regular fa-user"></i> <span class="text2">@Comment.UserFullName</span></div>
                                        <span class="text1"> @Comment.Content</span>
                                        <div class="d-flex justify-content-end py-1 pt-2">
                                            <div>
                                                @if (Comment.UpdateDate == default(DateTime))
                                                {

                                                    <span class="text3">@_localization.GetKey("ConferenceDetailUpdateDateComment")</span>
                                                }
                                                else
                                                {
                                                    <span class="text3">@_localization.GetKey("ConferenceDetailShareDateComment")</span>
                                                }
                                                <span class="thumbup">
                                                    @if (Comment.UpdateDate == default(DateTime))
                                                    {



                                                        @Comment.CreatedDate.ToString("yyyy-MM-dd HH:mm", new CultureInfo(Thread.CurrentThread.CurrentCulture.Name))
                                                    }
                                                    else
                                                    {
                                                        @Comment.UpdateDate.ToString("yyyy-MM-dd HH:mm", new CultureInfo(Thread.CurrentThread.CurrentCulture.Name))

                                                    }
                                                    </span >
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                    }

                    

            </div>
            <div class="col-5">
                  
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("User2") || User.IsInRole("Admin") || User.IsInRole("SuperAdmin")) && new DateTime(Model.Day, Model.EndDate) < DateTime.Now && Model.UsersId.Contains(ViewBag.CurrentUserId))
                {
                    
              

                    <div class="form-group my-5">
                            <label class="form-label">@_localization.GetKey("ConferenceDetailYourComment")</label>
                        <input type="text" class="form-control comment" />
                    </div>
                        <div class="main-button-red">

                            <button onclick="AddComment('@ViewBag.CurrentUserId','@Model.Id')" type="button" class="">@_localization.GetKey("ConferenceDetailShareComment")</button>
                        </div>
               
                }
                    else if ( new DateTime(Model.Day, Model.EndDate) < DateTime.Now)
                {
                        <div class="alert mt-5 alert-light" role="alert">

                            <strong>@_localization.GetKey("DashboardConfranceDetail7")</strong>@_localization.GetKey("ConferenceDetailCommentAlertContent")
                    </div>
                }
                    </div>

        </div>
        </div>
    </div>

</section>
@section scripts{

    @if (User.Identity.IsAuthenticated && new DateTime(Model.Day, Model.StartedDate) < DateTime.Now && !Model.IsSavedPdf)
        {
        
    <script>
        function OpenPdf(conferenceId) {
            console.log("gelen parametrin deyeri:"+conferenceId)
                $.ajax({
                    url: `/ConferenceDetail/OpenPdf?ConferenceId=${conferenceId}`,
                    method: "POST",                
                 success: function (response) {
                        if (response) {
                           console.log(response)
                          window.open(window.location.origin+response)

                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.status)
                        console.log(xhr.responseText)

                        swal(`Error!${xhr.status}`, `${xhr.responseText}`, "error")
                    }
                });
        }
    </script>
    }
    @if (User.Identity.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("User2") || User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
{
    
        @if (new DateTime(Model.Day, Model.StartedDate) > DateTime.Now && !Model.UsersId.Contains(ViewBag.CurrentUserId))
        {
       
            string CommentSuccess = _localization.GetKey("RegisterConferenceSwalTitle");
            string CommentError = _localization.GetKey("RegisterConferenceSwalErrorMessage");

    <script>

        function RegisterConference(conferenceId) {
            var CommentSuccess = "@Html.Raw(CommentSuccess)";
            var CommentError = "@Html.Raw(CommentError)";
            $.ajax({
                url: `/ConferenceDetail/RegisterConference?ConferenceId=${conferenceId}`,
                method: "POST",
               
                contentType: false,
                processData: false,
                success: function (response) {

                            swal(CommentSuccess, {
                            icon: "success",
                        }).then((e) => {
                            if(e){
                                window.location.reload();
                            }
                        })
                
                },
                error: function (xhr, status, error) {
                    console.log(xhr.status)
                    console.log(xhr.responseText)

                            swal(`Error!${xhr.status}`, `${CommentError}`, "error")
                }
            });
        }
          </script>
    }
   
        @if (new DateTime(Model.Day, Model.EndDate) < DateTime.Now && Model.UsersId.Contains(ViewBag.CurrentUserId))
    {
            string Title = _localization.GetKey("ConferenceSwalTitleAddComment");
            string CommentSuccess = _localization.GetKey("ConferenceSwalSuccessAddComment");
            string CommentError = _localization.GetKey("SweetAlertMessageError");
        <script>
            var Title ="@Html.Raw(Title)";
                var CommentSuccess ="@Html.Raw(CommentSuccess)";
                var CommentError = "@Html.Raw(CommentError)";
                function AddComment(UserId, ConferenceId) {
      
                var comment = document.querySelector('.comment').value
                console.log("CommentContent "+comment)
                console.log("UserId "+UserId)
                console.log("conferanceId "+ConferenceId)
                swal({
                        title: Title,

                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                      
                        if (willDelete) {
                            var datas = new FormData();
                            datas.append("UserId", UserId);
                            datas.append("ConferenceId", ConferenceId);
                            datas.append("Content", comment);
                    $.ajax({
                        url: `/ConferenceDetail/AddComment`,
                        method: "POST",
                        dataType: "json",
                        data: datas,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response) {
                                        swal(CommentSuccess, {
                                    icon: "success",
                                })
                            } else {
                                console.log("Response is false or empty.");
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.status)
                            console.log(xhr.responseText)

                                    swal(`Error!${xhr.status}`, `${CommentError}`, "error")
                        }
                    });


                        }
                    }); 
            }
        </script>
    }
}

}