@using System.Security.Claims
@inject IHttpContextAccessor _contextAccessor;
@model List<GetUsersDTO>
<div asp-validation-summary="All" class="text text-danger"></div>




<table id="example" class="display table table-striped table-responsive-md" style="width:100%">
    <thead>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardUserIndex0")</th>
            <th>@_localization.GetKey("DashboardUserIndex1")</th>

            <th>@_localization.GetKey("DashboardUserIndex2")</th>

            <th>@_localization.GetKey("DashboardUserIndex3")</th>

            <th>@_localization.GetKey("DashboardUserIndex4")</th>
            <th>@_localization.GetKey("EmailStatus")</th>

            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>




        </tr>

    </thead>
    <tbody id="parent">
        @{
            int counter = 0;
        }
        @foreach (var user in Model)
        {
          
            counter++;
            <tr>

                <td>@counter</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                
                <td>
                    @{
                        int a = 0;
                    }
                    @foreach (var role in user.Roles)
                    {

                       


                      


                            @role
                      
                        if (0 < user.Roles.Count - a)
                        {
                            @Html.Raw(",")
                        }
                        a++;
                    }
                </td>
              
                <td style="overflow-y:scroll;max-height:100px;">
                    @{
                        int b = 0;
                    }
                    @foreach (var confrance in user.Conferances)
                    {






                     
                        @confrance
                        if (0 < user.Conferances.Count - b)
                        {
                            @Html.Raw(",")
                        }
                        <br/>
                        b++;
                    }
                </td>
                <td>
                    @if (user.EmailConfirmed)
                    {
                       <span>

                            @Html.Raw(_localization.GetKey("EmailConfirmed"))
                        </span>
                    }else
                    {
                        <span>

                            @Html.Raw(_localization.GetKey("EmailNOTConfirmed"))
                        </span>
                    }
                    </td>
                <td>
                    @if (_contextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value!=user.Id)
                    {
                        <button class="btn btn-outline-danger" onclick="userDelet('@user.Id')"><i class="fa-solid fa-trash"></i></button>
                        @if (user.EmailConfirmed)
                    {
                            
                        <a class="btn btn-outline-success" href="/dashboard/user/addRole/@user.Id">@_localization.GetKey("DashboardUserIndex5")</a>
                        <a class="btn btn-outline-warning" href="/dashboard/user/UserDeleteRole/@user.Id">@_localization.GetKey("DashboardUserIndex6")</a>
                        }
                    }

                </td>
            </tr>

        }
    </tbody>

    <tfoot>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardUserIndex0")</th>
            <th>@_localization.GetKey("DashboardUserIndex1")</th>

            <th>@_localization.GetKey("DashboardUserIndex2")</th>

            <th>@_localization.GetKey("DashboardUserIndex3")</th>

            <th>@_localization.GetKey("DashboardUserIndex4")</th>
            <th>@_localization.GetKey("EmailStatus")</th>

            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>



        </tr>

    </tfoot>
</table>
@{
    var langCode = CultureInfo.CurrentCulture.Name;
    var SweetAlertMessageSuccess = _localization.GetKey("SweetAlertMessageSuccess");
    var SweetAlertMessageError = _localization.GetKey("SweetAlertMessageError");
    var SweetAlertMessageTitle = _localization.GetKey("SweetAlertMessageTitle");
}
<script>
    var successMessage = "@Html.Raw(SweetAlertMessageSuccess)"
    var errorMessage = "@Html.Raw(SweetAlertMessageError)"
    var TitleMessage = "@Html.Raw(SweetAlertMessageTitle)"
    var currentCulture = "@langCode";
    var languageUrl = null;
    if (currentCulture == "az") {

        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/az-AZ.json";
    }
    else if (currentCulture == "ru") {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/ru.json";
    }
    else {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/en-GB.json";
    }
    let table = new DataTable('#example', {
        responsive: true,
        language: {
            url: languageUrl,
        },

    });
    function userDelet(id) {
        swal({
            title:TitleMessage,

            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url:`/dashboard/user/delete/${id}`,
                        method:"Post",
                        success: function (response) {
                            swal(successMessage, {
                                icon: "success",
                            }).then((e) => {

                                if (e) {
                                    window.location.reload();

                                }
                            })
                        },
                        error: function () {
                            swal(errorMessage, "error");
                        }
                    })

                }
            });
    }
</script>