@model List<GetALLConferenceUserDTO>
<div class="w-100 text-center">

<div class="alert alert-info">
        <strong>@_localization.GetKey("DashboardConfranceDetail7")</strong> @_localization.GetKey("DashboardForUserConferanceIndexAlert")

</div>
<a class="btn btn-outline-success" href="/dashboard/ConferanceForUser/create">@_localization.GetKey("ConfranceCreate")</a>
</div>

<table id="example" class="display table table-striped table-responsive-md table-responsive-sm" style="width:100%">
    <thead>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardConfranceDetail0")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail10")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail11")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail12")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail13")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail14")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail5")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>




        </tr>

    </thead>
    <tbody id="parent">
        @{
            int counter = 0;
        }
        @foreach (var confrance in Model)
        {

            counter++;
            <tr>

                <td>@counter</td>
                <td>@confrance.ConferenceName</td>
                <td>
                    @Html.Raw(new DateTime(confrance.Day, confrance.StartedDate).ToString("yyyy-MM-dd HH:mm") + "-" + new DateTime(confrance.Day, confrance.EndDate).ToString("yyyy-MM-dd HH:mm"))
                </td>
                <td>@confrance.UserEmail</td>
                <td>@confrance.UserFullname</td>
                <td>@confrance.AudutoriumName</td>
                <td> <img src="@confrance.ImgUrl" width="100px" height="100px" /> </td>
                <td>@confrance.Status</td>
                <td>

                    <a class="btn btn-outline-danger" href="/dashboard/ConferanceForUser/update/@confrance.Id"><i class="fa-solid fa-pen-to-square"></i></a>

                    <a class="btn btn-outline-warning" href="/dashboard/ConferanceForUser/detail/@confrance.Id">@_localization.GetKey("DashboardConfranceDetail16")</a>



                </td>
            </tr>

        }
    </tbody>

    <tfoot>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardConfranceDetail0")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail10")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail11")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail12")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail13")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail14")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail5")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>



        </tr>

    </tfoot>
</table>
@{
    var langCode = CultureInfo.CurrentCulture.Name;
}
<script>
    var currentCulture = "@langCode";
    var languageUrl = null;
    if (currentCulture == "az") {

        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/az-AZ.json";
    }
    else if (currentCulture == "ru") {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/ru.json";
    }
    else {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/en-GB.json";
    }
    let table = new DataTable('#example', {
        responsive: true,
        language: {
            url: languageUrl,
        },

    });
  
</script>