@model List<GetALLConferenceUserDTO>


<a class="btn btn-outline-success" href="/dashboard/ConferanceForUser/create">Confrans Yarat</a>

<table id="example" class="display table table-striped" style="width:100%">
    <thead>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardConfranceDetail0")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail10")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail11")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail12")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail13")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail14")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail5")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>




        </tr>

    </thead>
    <tbody id="parent">
        @{
            int counter = 0;
        }
        @foreach (var confrance in Model)
        {

            counter++;
            <tr>

                <td>@counter</td>
                <td>@confrance.ConferenceName</td>
                <td>
                    @Html.Raw(new DateTime(confrance.Day, confrance.StartedDate).ToString("yyyy-MM-dd HH:mm") + "-" + new DateTime(confrance.Day, confrance.EndDate).ToString("yyyy-MM-dd HH:mm"))
                </td>
                <td>@confrance.UserEmail</td>
                <td>@confrance.UserFullname</td>
                <td>@confrance.AudutoriumName</td>
                <td> <img src="@confrance.ImgUrl" width="100px" height="100px" /> </td>
                <td>@confrance.Status</td>
                <td>

                    <a class="btn btn-outline-danger" href="/dashboard/ConferanceForUser/update/@confrance.Id"><i class="fa-solid fa-pen-to-square"></i></a>

                    <a class="btn btn-outline-warning" href="/dashboard/ConferanceForUser/detail/@confrance.Id">@_localization.GetKey("DashboardConfranceDetail16")</a>



                </td>
            </tr>

        }
    </tbody>

    <tfoot>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardConfranceDetail0")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail10")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail11")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail12")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail13")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail14")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail5")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>



        </tr>

    </tfoot>
</table>

<script>
    let table = new DataTable('#example', {
        responsive: true
    });
   
  
</script>