@model ConferenceUpdateDto
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
   
    <div class="form-group">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false">AZ</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">RU</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">US</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="ConferenceName" value="@Model.ConferenceName[0]" name="ConferenceName" placeholder="@_localization.GetKey("DashboardConfranceForUserCreate0")" />

                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="ConferenceName" value="@Model.ConferenceName[1]" name="ConferenceName" placeholder="@_localization.GetKey("DashboardConfranceForUserCreate1")" />

                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="ConferenceName" value="@Model.ConferenceName[2]" name="ConferenceName" placeholder="@_localization.GetKey("DashboardConfranceForUserCreate2")" />

                </div>
            </div>
        </div>
    </div>
    <div class="form-group">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active" role="presentation">
                <button class="nav-link active" id="home_dec-tab" data-bs-toggle="tab" data-bs-target="#home_dec" type="button" role="tab" aria-controls="home_dec" aria-selected="false">AZ</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile_dec-tab" data-bs-toggle="tab" data-bs-target="#profile_dec" type="button" role="tab" aria-controls="profile_dec" aria-selected="false">RU</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact_dec-tab" data-bs-toggle="tab" data-bs-target="#contact_dec" type="button" role="tab" aria-controls="contact_dec" aria-selected="false">US</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home_dec" role="tabpanel" aria-labelledby="home_dec-tab">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="ConferenceContent" value="@Model.ConferenceContent[0]" name="ConferenceContent" placeholder="@_localization.GetKey("DashboardConfranceForUserCreate3")" />
                    <input type="hidden" asp-for="LangCode" value="az" name="LangCode" />
                </div>
            </div>
            <div class="tab-pane fade" id="profile_dec" role="tabpanel" aria-labelledby="profile_dec-tab">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="ConferenceContent" value="@Model.ConferenceContent[1]" name="ConferenceContent" placeholder="@_localization.GetKey("DashboardConfranceForUserCreate4")" />
                    <input type="hidden" asp-for="LangCode" value="ru" name="LangCode" />
                </div>
            </div>
            <div class="tab-pane fade" id="contact_dec" role="tabpanel" aria-labelledby="contact_dec-tab">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="ConferenceContent" value="@Model.ConferenceContent[2]" name="ConferenceContent" placeholder="@_localization.GetKey("DashboardConfranceForUserCreate5")" />
                    <input type="hidden" asp-for="LangCode" value="en" name="LangCode" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group specialGuest">
            <div class="alert alert-warning">
            <strong>@_localization.GetKey("DashboardConfranceDetail7")</strong> @_localization.GetKey("DashboardConfranceForUserUpdate0")
            </div>
        <div class="row">
            @for (int i=0;i<Model.specialGuestsEmail.Count;i++)
            {
                
            <div class="col-5">
                    <label>@_localization.GetKey("DashboardConfranceDetail3")</label>
                    <input disabled type="text" class="form-control" placeholder="@_localization.GetKey("DashboardConfranceDetail3")" value="@Model.specialGuestsName[i]" />
            </div>
            <div class="col-5">
                    <label>@_localization.GetKey("DashboardConfranceDetail4")</label>
                    <input disabled type="email" class="form-control" placeholder="@_localization.GetKey("DashboardConfranceDetail4")" value="@Model.specialGuestsEmail[i]" />

            </div>
            }
            <div class="col-2">
                <button onclick="addSpecialGuest()" class="btn btn-outline-success mx-auto" type="button">@_localization.GetKey("DashboardConfranceForUserCreate6")</button>

                <button onclick="removeSpecialGuest()" class="btn btn-outline-danger mx-auto" type="button">@_localization.GetKey("DashboardConfranceForUserCreate7")</button>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label asp-for="AudutoriumId">@_localization.GetKey("DashboardConfranceDetail13")</label>

        <select class="form-control" asp-for=AudutoriumId name="AudutoriumId">
            @if (ViewBag.Auditorium is List<GetAuditoriumDTO> auditorium && auditorium.Count > 0)
            {

                @foreach (var item in ViewBag.Auditorium as List<GetAuditoriumDTO>)
                {
                    if (@item.AuditoriumId==Model.AudutoriumId)
                    {

                        <option selected value="@item.AuditoriumId">@_localization.GetKey("DashboardAuditoriumCreate3")-@item.AudutoriyaNumber @_localization.GetKey("DashboardAuditoriumCreate0")-@item.AuditoriumCapacity</option>
                    }
                    else
                    {
                        <option value="@item.AuditoriumId">@_localization.GetKey("DashboardAuditoriumCreate3")-@item.AudutoriyaNumber @_localization.GetKey("DashboardAuditoriumCreate0")-@item.AuditoriumCapacity</option>

                    }
                }

            }
        </select>
        <div class="alert alert-warning">
            <strong>@_localization.GetKey("DashboardAuditoriumCreate1")</strong> @_localization.GetKey("DashboardConfranceForUserUpdate1")
        </div>
        @if (Model.Status == Aztu_Events.Entities.EnumClass.ConferanceStatus.Gözlənilir)
        {

            <div class="alert alert-warning">
                <strong>@_localization.GetKey("DashboardConfranceDetail5")</strong> @_localization.GetKey("DashboardConfranceDetail6")
            </div>
        }
        else if (Model.Status == Aztu_Events.Entities.EnumClass.ConferanceStatus.Təsdiq)
        {
            <div class="alert alert-success">
                <strong>@_localization.GetKey("DashboardConfranceDetail5")</strong> @_localization.GetKey("DashboardConfranceChangeStatus2")
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>@_localization.GetKey("DashboardConfranceDetail5")</strong> @_localization.GetKey("DashboardConfranceChangeStatus3")
            </div>

        }
        @if (ViewBag.Auditorium is List<GetAuditoriumDTO> auditoriumTime && auditoriumTime.Count > 0)
        {
            @foreach (var a in auditoriumTime)
            {
                <div class="alert alert-info">
                    <strong>@_localization.GetKey("DashboardConfranceDetail7")</strong> @a.AudutoriyaNumber @_localization.GetKey("DashboardConfranceForUserCreate10")
                    <ul>
                        @for (int i = 0; i < a.Date.Count && i < a.StartedTime.Count && i < a.EndTime.Count; i++)
                        {
                            <li>
                                @DateTime.Parse(a.Date[i].ToString() + " " + a.StartedTime[i].ToString()) - @DateTime.Parse(a.Date[i].ToString() + " " + a.EndTime[i].ToString())
                            </li>
                        }
                    </ul>
                </div>
            }
        }

    </div>
    <div class="form-group">
        <label for="Day">@_localization.GetKey("DashboardConfranceForUserCreate11"):</label>
        <input type="date" id="Day" name="Day" asp-for="Day" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" value="@Model.Day.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group">
        <label for="StartTime">@_localization.GetKey("DashboardConfranceForUserCreate12"):</label>
        <input type="text" id="StartTime" name="StartedDate" asp-for="StartedDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="EndDate">@_localization.GetKey("DashboardConfranceForUserCreate13"):</label>
        <input type="text" id="EndDate" name="EndDate" asp-for="EndDate" class="form-control" />
    </div>
    <div class="form-group">
        <label>@_localization.GetKey("DashboardConfranceForUserCreate9")</label>
        <select class="form-control" asp-for="CategoryId">

            @if (ViewBag.Category is not null)
            {

                foreach (var category in ViewBag.Category as List<CategoryGetDTO>)
                {
                    if (Model.CategoryId==category.Id)
                    {
                        
                        <option selected value="@category.Id">@category.Name</option>
                    }
                    else
                    {
                        <option  value="@category.Id">@category.Name</option>

                    }
                }
            }

        </select>
    </div>
    <div class="form-group" id="form-file">
        <label for="Photo">@_localization.GetKey("DashboardConfranceForUserCreate14")</label>
        <input type="file" accept="image/*" value="" id="photo" name="Photo" class="form-control-file" />



        <div class="d-flex flex-wrap text-center" id="@Model.ImgUrl">

            <input type="hidden" asp-for="ImgUrl" value="@Model.ImgUrl" />
            <img src="@Model.ImgUrl" for="photo" id="photo" name="Photo" style="width: 200px;" alt="" />

            <button type="button" onclick="PhotoDelete('@Model.ImgUrl')" class="btn btn-outline-danger "><i class="fas fa-trash"></i></button>



        </div>


    </div>

    <button class="btn btn-outline-success" type="submit">@_localization.GetKey("DashboardAuditoriumEdit0")</button>
</form>
@section scripts {
    <script>
        function addSpecialGuest() {

            var specialGuestsContainer = document.querySelector('.specialGuest');

            specialGuestsContainer.innerHTML += `  <div class='row added'>

                  <div class='col-5'>
                                  <label for='specialGuestsName'>@Html.Raw(_localization.GetKey("DashboardConfranceDetail3"))</label>
                                  <input type='text' class='form-control' id=specialGuestsName  name='specialGuestsName' placeholder='@Html.Raw(_localization.GetKey("DashboardConfranceDetail3"))' />
                  </div>
                      <div class='col-5'>
                                  <label  for='specialGuestsEmail'>@Html.Raw(_localization.GetKey("DashboardConfranceDetail4"))</label>
                                  <input type='email' class='form-control' id=specialGuestsEmail name='specialGuestsEmail' placeholder='@Html.Raw(_localization.GetKey("DashboardConfranceDetail4"))'  />

                      </div>
                      <div class='col-2'>


                      </div>
                  </div>`;
        }

        function removeSpecialGuest() {
            var rowToRemove = document.querySelectorAll(".added")

            rowToRemove[rowToRemove.length - 1].remove();

        }

        function PhotoDelete(photoName) {
            console.log(photoName)
            let fileInput = document.getElementById("photo");
            var updatedFiles = fileInput.files;

            var newFileList = new DataTransfer();

            for (var j = 0; j < updatedFiles.length; j++) {
                if (updatedFiles[j].name !== photoName) {
                    newFileList.items.add(updatedFiles[j]);
                }
            }

            fileInput.files = newFileList.files;
            var img_box = document.getElementById(photoName);
            debugger;
            img_box.remove();


        }
        $("#photo").change(function () {
            $(`#form-file .d-flex`).remove();

            $.each(this.files, function (index, file) {

                $("#form-file").append(`



                                   <div class="d-flex flex-wrap text-center" id="${file.name}">


                                             <img  src="${URL.createObjectURL(file)}" for="photo" id="photo" name="Photo" style="width: 200px;" alt="" />

                                    <button type="button" onclick="PhotoDelete('${file.name}')" class="btn btn-outline-danger "><i class="fas fa-trash"></i></button>



                            </div>

                             `);
            });
        });



    </script>
    <script>
        document.getElementById("EndDate").addEventListener("change", function () {
            var input = this.value;
            var regex = /^(?:2[0-3]|[01][0-9]):[0-5][0-9]$/;
            if (!regex.test(input)) {
                alert("@Html.Raw(_localization.GetKey("DashboardConfranceForUserCreate15"))");
                this.value = "";
            }
        });
        document.getElementById("StartTime").addEventListener("change", function () {
            var input = this.value;
            var regex = /^(?:2[0-3]|[01][0-9]):[0-5][0-9]$/;
            if (!regex.test(input)) {
                alert("@Html.Raw(_localization.GetKey("DashboardConfranceForUserCreate15"))");
                this.value = "";
            }
        });
    </script>
}