


@model PaginatedList<ConferenceGetAdminListDTO>

<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="filters">
                            <ul>
                                @if (ViewBag.CurrentCategory is  null)
                                {

                                    <li class="active"> <a href="/conferences/index?page=1&category=null">@_localization.GetKey("ConferancesCategory")</a> </li>
                                }
                                else
                                {
                                    <li> <a href="/conferences/index?page=1&category=null">@_localization.GetKey("ConferancesCategory")</a> </li>
                                }

                                @foreach (var category in ViewBag.Category as List<CategoryGetDTO>)
                                {
                                    if (ViewBag.CurrentCategory is not null && ViewBag.CurrentCategory==category.Id)
                                    {

                                        <li class="active"> <a href="/conferences/index?page=1&category=@category.Id">@category.Name</a> </li>
                                    }
                                    else
                                    {
                                        <li> <a href="/conferences/index?page=1&category=@category.Id">@category.Name</a> </li>
                                    }
                                }
                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row grid">
                            @foreach (var conferance in Model.Data)
                            {
                                
                            <div class="col-lg-4 templatemo-item-col all @conferance.CategoryName">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <div class="price">
                                                <span> @Html.Raw(new DateTime(conferance.Day, conferance.StartedDate).ToString("HH:mm") + "-" + new DateTime(conferance.Day, conferance.EndDate).ToString("HH:mm"))</span>
                                        </div>
                                        <a href="/confrancedetail/index/@conferance.Id"><img style="object-fit:cover;" width="385px" height="273px" src="@conferance.ImgUrl" alt=""></a>
                                    </div>
                                    <div class="down-content">
                                        <div class="date">
                                                <h6> @Html.Raw(new DateTime(conferance.Day, conferance.StartedDate).ToString("MMMM", new CultureInfo(Thread.CurrentThread.CurrentCulture.Name))) <span>@Html.Raw(new DateTime(conferance.Day, conferance.StartedDate).ToString("dd"))</span></h6>
                                        </div>
                                            <a href="/confrancedetail/index/@conferance.Id"><h4>@conferance.ConferenceName</h4></a>
                                           
                                                <p>@conferance.ConferenceContent</p>
                                           
                            
                                        </div>
                                </div>
                            </div>
                            }
                            
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="pagination">
                            <ul>
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    if (i == ViewBag.CurrentPage)
                                    {

                                        <li class="active"><a href="/conferences/index?page=i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/conferences/index?page=i">@i</a></li>
                                    }
                                }
                                @{
                                    int b = Convert.ToInt32(ViewBag.CurrentPage) + 1;
                                }
                                @if (ViewBag.CurrentPage != Model.TotalPages )
                                {
                                    if (ViewBag.CurrentPage<Model.TotalPages)
                                    {
                                        
                                <li><a href="/conferences/index?page=@b"><i class="fa fa-angle-right"></i></a></li>
                                    }
                                    
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>