
@model IQueryable<GetAlertDTO>
@{
    IQueryable<GetAlertDTO> commentAlerts = ViewBag.CommentAlert as IQueryable<GetAlertDTO>;

    int alertCount = 0;
    if (commentAlerts is not null)
    {
        alertCount += Model.Count();
    }
 
    if (commentAlerts is not null)
    {
        alertCount +=  commentAlerts.Count();
    }
}
<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a  class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">@alertCount</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            @_localization.GetKey("DashboardAlert0")
        </h6>
        @* conferance.ConferenceName @_localization.GetKey("DashboardAlert1") UserFullname @_localization.GetKey("DashboardAlert2") AudutoriumName @_localization.GetKey("DashboardAlert3") *@

              @foreach (var conference in Model)
        {

            <a onclick="DeleteAlert('@conference.AlertId')" class="dropdown-item d-flex align-items-center" href="/dashboard/ConferanceForUser/detail/@conference.ConferenceId">
         
            <div>

                        <span class="font-weight-bold">@conference.AlertContent</span>
            </div>
        </a>
        }


      
            
        @if (commentAlerts is not null)
        {
            foreach (var commentAlert in commentAlerts)
            {

                <a onclick="DeleteCommentAlert('@commentAlert.AlertId')" class="dropdown-item d-flex align-items-center" href="/dashboard/comment/index">

                    <div>

                        <span class="font-weight-bold">@commentAlert.AlertContent</span>
                    </div>
                </a>
            }
        }


        <button onclick="DeleteAllAlert()" type="button" class="dropdown-item d-flex btn btn-secondary align-items-center">

            <div>

                <span class="font-weight-bold">Bildirisleri temizle</span>
            </div>
        </button>

    </div>
</li>
@if (User.IsInRole("Admin")||User.IsInRole("SuperAdmin"))
{
    <script>

        function DeleteAlert(AlertId) {
            if (AlertId != null || AlertId != undefined) {

                $.ajax({
                    url: `/Dashboard/Alert/DeleteAlertForAdmin?alertId=${AlertId}`,
                    method: "DELETE",
                    success: function (response) {
                        window.location.reload();


                    },
                    error: function () {
                        swal("error", "error");
                    }
                })
            }
        }
    </script>
    <script>




        function DeleteAllAlert() {
            $.ajax({
                url: `/Dashboard/Alert/DeleteAllAlertForAdmin`,
                method: "DELETE",
                success: function (response) {
                    window.location.reload();


                },
                error: function () {
                    swal(errorMessage, "error");
                }
            })
        }
    </script>
}
else
{
    
<script>

    function DeleteAlert(AlertId) {
        if (AlertId != null || AlertId != undefined) {

            $.ajax({
                url: `/Dashboard/Alert/DeleteAlert?alertId=${AlertId}`,
                method: "DELETE",
                success: function (response) {
                    console.log(response)


                },
                error: function () {
                    swal("error", "error");
                }
            })
        }
    }
</script>
<script>


   

    function DeleteAllAlert() {
        $.ajax({
            url: `/Dashboard/Alert/DeleteAllAlert`,
            method: "DELETE",
            success: function (response) {
                window.location.reload();
          
              
            },
            error: function () {
                swal(errorMessage, "error");
            }
        })
    }
</script>
}
