@model List<GetALLConferenceUserDTO>

@{
    var commentAlerts = ViewBag.CommentAlert as IQueryable<GetCommentForAdminDTO>;
    int AlertCount = 0;
    if (commentAlerts is not null)
    {
        AlertCount = Model.Count + commentAlerts.Count();
    }
    else
    {
        AlertCount = Model.Count;
    }
}
<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a onclick="ClearAlerts()" class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">@AlertCount</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            @_localization.GetKey("DashboardAlert0")
        </h6>

        @foreach (var conferance in Model)
        {
            if (User.IsInRole("Admin"))
            {
                
            <a class="dropdown-item d-flex align-items-center" href="/dashboard/ConferanceForUser/detail/@conferance.Id">
         
            <div>

                        <span class="font-weight-bold">@conferance.ConferenceName @_localization.GetKey("DashboardAlert1") @conferance.UserFullname @_localization.GetKey("DashboardAlert2") @conferance.AudutoriumName @_localization.GetKey("DashboardAlert3")</span>
            </div>
        </a>
            }
            else
            {
                <a class="dropdown-item d-flex align-items-center" href="/dashboard/ConferanceForUser/detail/@conferance.Id">

                    <div>

                        <span class="font-weight-bold">@conferance.ConferenceName @_localization.GetKey("DashboardAlert4")</span>
                    </div>
                </a>
            }
        }
        @if (User.IsInRole("Admin") && commentAlerts is not null)
        {
            foreach (var CommentAlert in commentAlerts)
            {
                
        <a class="dropdown-item d-flex align-items-center" href="/dashboard/comment/index">

            <div>

                        <span class="font-weight-bold">@CommentAlert.UserFullName tərəfindən @CommentAlert.ConferenceName adlı konferansa yorum Yazıldı</span>
            </div>
        </a>
            }
        }

    </div>
</li>

    <script>
        function ClearAlerts() {
            $.ajax({
                url: "/dashboard/home/AlertSeenChangeAll",
                type: "Get",
               
                success: function (e) {
                document.querySelector(".badge").innerHTML=0
                    console.log(e)
                },
                error: function (e) {
                    console.log("Error")
                    console.log(e)
                }
            });

        }
    </script>
