
@model ConferenceGetAdminDTO
<form method="post">
    <input type="hidden" asp-for=Id />
    <div class="form-group">

        <input class="form-control" disabled value="@Model.ConferenceName" />

    </div>
    <div class="alert alert-info">
        <strong>@_localization.GetKey("DashboardAuditoriumCreate1")</strong>
        @_localization.GetKey("DashboardConfranceChangeStatus0")
    </div>
    <div class="form-group">

        <label>@_localization.GetKey("DashboardConfranceChangeStatus1")</label>
        <select class="form-control" asp-for=Status name="Status">

            @if (Model.Status != @ConferanceStatus.Təsdiq && !Model.specialGuests.Any(x=>x.SendEmail==true))
            {
                
                <option value="@ConferanceStatus.İmtina">@_localization.GetKey("DashboardConfranceChangeStatus3")</option>
            }
            <option value="@ConferanceStatus.Təsdiq">@_localization.GetKey("DashboardConfranceChangeStatus2")</option>
       
        </select>
    </div>
    @if (Model.Status != @ConferanceStatus.Təsdiq && !Model.specialGuests.Any(x => x.SendEmail == true))
    {
    <div class="alert alert-info">
            <strong>@_localization.GetKey("DashboardAuditoriumCreate1")</strong>
            @_localization.GetKey("DashboardConfranceChangeStatus4")
    </div>
        
    <div class="form-group">
            <label class="form-label" for="responseMessage">@_localization.GetKey("DashboardConfranceChangeStatus5")</label>
            <input class="form-control" type="text" name="responseMessage" id="responseMessage"/>
    </div>
    }
    <button class="btn btn-outline-success">@_localization.GetKey("DashboardConfranceChangeStatus2")</button>
</form>