@model List<ConferenceGetAdminListDTO>




<table id="example" class="display table table-striped table-responsive-md" style="width:100%">
    <thead>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardConfranceDetail0")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail10")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail11")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail12")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail13")</th>
            <th>@_localization.GetKey("DashboardCategoryIndex0")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail14")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail5")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>




        </tr>

    </thead>
    <tbody id="parent">
        @{
            int counter = 0;
        }
        @foreach (var confrance in Model)
        {

            counter++;
            <tr>

                <td>@counter</td>
                <td>@confrance.ConferenceName</td>
                <td>   @Html.Raw(new DateTime(confrance.Day, confrance.StartedDate).ToString("yyyy-MM-dd HH:mm") + "-" + new DateTime(confrance.Day, confrance.EndDate).ToString("yyyy-MM-dd HH:mm"))</td>
                <td>@confrance.UserEmail</td>
                <td>@confrance.UserFullname</td>
                <td>@confrance.AudutoriumName</td>
                <td>@confrance.CategoryName</td>
                <td> <img src="@confrance.ImgUrl" width="100px" height="100px"/> </td>
                <td>@confrance.Status</td>
                <td>

                    <a class="btn btn-outline-danger" href="/dashboard/Conferance/changestatus/@confrance.Id">@_localization.GetKey("DashboardConfranceDetail15")</a>
                    <button class="btn btn-outline-danger" onclick="confranceDelet('@confrance.Id')"><i class="fa-solid fa-trash"></i></button>
                    <a class="btn btn-outline-warning" href="/dashboard/Conferance/Detail/@confrance.Id">@_localization.GetKey("DashboardConfranceDetail16")</a>



                </td>
            </tr>

        }
    </tbody>

    <tfoot>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardConfranceDetail0")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail10")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail11")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail12")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail13")</th>
            <th>@_localization.GetKey("DashboardCategoryIndex0")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail14")</th>
            <th>@_localization.GetKey("DashboardConfranceDetail5")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>



        </tr>

    </tfoot>
</table>
@{
    var langCode = CultureInfo.CurrentCulture.Name;
    var SweetAlertMessageSuccess = _localization.GetKey("SweetAlertMessageSuccess");
    var SweetAlertMessageError = _localization.GetKey("SweetAlertMessageError");
    var SweetAlertMessageTitle = _localization.GetKey("SweetAlertMessageTitle");
}
<script>
    var successMessage = "@Html.Raw(SweetAlertMessageSuccess)"
    var errorMessage = "@Html.Raw(SweetAlertMessageError)"
    var TitleMessage = "@Html.Raw(SweetAlertMessageTitle)"
    var currentCulture = "@langCode";
    var languageUrl = null;
    if (currentCulture == "az") {

        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/az-AZ.json";
    }
    else if (currentCulture == "ru") {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/ru.json";
    }
    else {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/en-GB.json";
    }
    let table = new DataTable('#example', {
        responsive: true,
        language: {
            url: languageUrl,
        },

    });
   
    function confranceDelet(id) {
        swal({
            title: SweetAlertMessageTitle,

            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                debugger
                if (willDelete) {
                    $.ajax({
                        url: `/Dashboard/Conferance/Delete/${id}`,
                        method: "DELETE",
                        success: function (response) {
                            swal(successMessage, {
                                icon: "success",
                            }).then((e) => {

                                if (e) {
                                    window.location.reload();

                                }
                            })
                        },
                        error: function () {
                            swal(errorMessage), "error");
                        }
                    })

                }
            });
    }
</script>