
@model List<ConferenceGetAdminListDTO>

<!-- ***** Main Banner Area Start ***** -->

<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="~/Assets/assets/images/Aztu-Tanitim.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">

                        <h2>@_localization.GetKey("HomeMain1") </h2>
                        <p>@_localization.GetKey("HomeMain2")</p>
                        <div class="main-button-red">
              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>@_localization.GetKey("NavbarConferances")</h2>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    @foreach (var conferance in Model)
                    {

                        <div class="col-lg-4 templatemo-item-col all @conferance.CategoryName">
                            <div class="meeting-item">
                                <div class="thumb">
                                    <div class="price">
                                        <span> @Html.Raw(new DateTime(conferance.Day, conferance.StartedDate).ToString("HH:mm") + "-" + new DateTime(conferance.Day, conferance.EndDate).ToString("HH:mm"))</span>
                                    </div>
                                    <a  href="/ConferenceDetail/index/@conferance.Id"><img style="object-fit:cover;" width="385px" height="273px" src="@conferance.ImgUrl" alt=""></a>
                                </div>
                                <div class="down-content">
                                    <div class="date">
                                        <h6> @Html.Raw(new DateTime(conferance.Day, conferance.StartedDate).ToString("MMMM", new CultureInfo(Thread.CurrentThread.CurrentCulture.Name))) <span>@Html.Raw(new DateTime(conferance.Day, conferance.StartedDate).ToString("dd"))</span></h6>
                                    </div>
                                    <a href="/ConferenceDetail/index/@conferance.Id"><h4>@conferance.ConferenceName</h4></a>

                                    <p>@conferance.ConferenceContent</p>


                                </div>
                            </div>
                        </div>
                    }
                  
                </div>
            </div>
        </div>
    </div>
</section>

