@model List<GetRolesDTO>


<div asp-validation-summary="All" class="text text-danger"></div>




<table id="example" class="display table table-striped" style="width:100%">
    <thead>
        <tr>

            <th>#</th>
            <th>@_localization.GetKey("DashboardRole0")</th>
         
           
           

        </tr>

    </thead>
    <tbody id="parent">
        @{
            int counter = 0;
        }
        @foreach (var role in Model)
        {
            counter++;

      <tr>
            <td>@counter</td>
            <td>@role.RoleName</td>
      
              
           
        </tr>
        }
    </tbody>

    <tfoot>
        <tr>

            <th>#</th>
            <th>@_localization.GetKey("DashboardRole0")</th>





        </tr>

    </tfoot>
</table>
@{
    var langCode = CultureInfo.CurrentCulture.Name;
}
<script>
    var currentCulture = "@langCode";
    var languageUrl = null;
    if (currentCulture == "az") {

        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/az-AZ.json";
    }
    else if (currentCulture == "ru") {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/ru.json";
    }
    else {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/en-GB.json";
    }
    let table = new DataTable('#example', {
        responsive: true,
        language: {
            url: languageUrl,
        },

    });
   
</script>