@model UpdateAuditoriumDTO


<form method="post">
    <input type="hidden" asp-for=AuditoriumId  />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="AuditoriumCapacity">@_localization.GetKey("DashboardAuditoriumCreate0")</label>
        <input class="form-control" type="number" min="0" asp-for="AuditoriumCapacity" />
       
    </div>
    <div class="alert alert-warning">
        <strong>@_localization.GetKey("DashboardAuditoriumCreate1")</strong> @_localization.GetKey("DashboardAuditoriumCreate2")
    </div>
    <div class="form-group">
        <label asp-for="AudutoriyaNumber">@_localization.GetKey("DashboardAuditoriumCreate3")</label>
        <input class="form-control" type="text" asp-for="AudutoriyaNumber" />
      
    </div>
    <button class="btn btn-outline-success">@_localization.GetKey("DashboardAuditoriumEdit0")</button>
</form>