@model List<GetAuditoriumDTO>



<a class="btn btn-outline-success" href="/dashboard/auditorium/create">@_localization.GetKey("DashboardAuditoriumCreate4")</a>

<table id="example" class="display table table-striped table-responsive-md" style="width:100%">
    <thead>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardAuditoriumCreate3")</th>
            <th>@_localization.GetKey("DashboardAuditoriumCreate0")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex0")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>




        </tr>

    </thead>
    <tbody id="parent">
        @{
            int counter = 0;
        }
        @foreach (var auditorium in Model)
        {
          
            counter++;
            <tr>

                <td>@counter</td>
                <td>@auditorium.AudutoriyaNumber</td>
                <td>@auditorium.AuditoriumCapacity</td>
                   <td style="overflow-y:scroll;max-height:100px;">


                
                    @{
                        int a = 0;
                    }
                   
                    @foreach (var auditor in auditorium.Date)
                    {





                        @Html.Raw(new DateTime(auditor, auditorium.StartedTime[a]).ToString("yyyy-MM-dd HH:mm") + "--" + new DateTime(auditor, auditorium.EndTime[a]).ToString("yyyy-MM-dd HH:mm"))
                        

                       

                        if (0 < auditorium.Date.Count - a)
                        {
                            @Html.Raw(",")
                        }
                        <br />
                        a++;
                    }
                </td>
               
                <td>

                    <button class="btn btn-outline-danger" onclick="AuditoriumDelet('@auditorium.AuditoriumId')"><i class="fa-solid fa-trash"></i></button>
                    <a class="btn btn-outline-warning" href="/dashboard/auditorium/edit/@auditorium.AuditoriumId"><i class="fa-solid fa-pen-to-square"></i></a>
                    
                    

                </td>
            </tr>

        }
    </tbody>

    <tfoot>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardAuditoriumCreate3")</th>
            <th>@_localization.GetKey("DashboardAuditoriumCreate0")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex0")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>


        </tr>

    </tfoot>
</table>
@{
    var langCode = CultureInfo.CurrentCulture.Name;
    var SweetAlertMessageSuccess = _localization.GetKey("SweetAlertMessageSuccess");
    var SweetAlertMessageError = _localization.GetKey("SweetAlertMessageError");
    var SweetAlertMessageTitle = _localization.GetKey("SweetAlertMessageTitle");
}
<script>
    var successMessage = "@Html.Raw(SweetAlertMessageSuccess)"
    var errorMessage = "@Html.Raw(SweetAlertMessageError)"
    var TitleMessage = "@Html.Raw(SweetAlertMessageTitle)"
    var currentCulture = "@langCode";
    var languageUrl = null;
    if (currentCulture == "az") {

        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/az-AZ.json";
    }
    else if (currentCulture == "ru") {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/ru.json";
    }
    else {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/en-GB.json";
    }
    let table = new DataTable('#example', {
        responsive: true,
        language: {
            url: languageUrl,
        },

    });
    function AuditoriumDelet(id) {
        swal({
            title: TitleMessage,

            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url:`/dashboard/auditorium/delete/${id}`,
                        method:"Post",
                        success: function (response) {
                            swal(successMessage, {
                                icon: "success",
                            }).then((e) => {

                                if (e) {
                                    window.location.reload();

                                }
                            })
                        },
                        error: function () {
                            swal(errorMessage, "error");
                        }
                    })

                }
            });
    }
</script>