
@model List<CategoryGetDTO>



<a class="btn btn-outline-success" href="/dashboard/category/create">@_localization.GetKey("DashboardCategoryIndex1")</a>
<table id="example" class="display table table-striped table-responsive-md table-responsive-sm" style="width:100%">
    <thead>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardCategoryIndex0")</th>
            
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>




        </tr>

    </thead>
    <tbody id="parent">
        @{
            int counter = 0;
        }
        @foreach (var category in Model)
        {

            counter++;
            <tr>

                <td>@counter</td>
                <td>@category.Name</td>
           
                <td>

                    <a class="btn btn-outline-warning" href="/dashboard/category/Edit/@category.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                    <button class="btn btn-outline-danger" onclick="CategoryDelet('@category.Id')"><i class="fa-solid fa-trash"></i></button>
                    



                </td>
            </tr>

        }
    </tbody>

    <tfoot>
        <tr>

            <th>№</th>
            <th>@_localization.GetKey("DashboardCategoryIndex0")</th>

            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>



        </tr>

    </tfoot>
</table>
@{
    var langCode = CultureInfo.CurrentCulture.Name;
    var SweetAlertMessageSuccess = _localization.GetKey("SweetAlertMessageSuccess");
    var SweetAlertMessageError = _localization.GetKey("SweetAlertMessageError");
    var SweetAlertMessageTitle = _localization.GetKey("SweetAlertMessageTitle");
}
<script>
    var currentCulture = "@langCode";
    var languageUrl = null;
    if (currentCulture == "az") {

        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/az-AZ.json";
    }
    else if (currentCulture == "ru") {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/ru.json";
    }
    else {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/en-GB.json";
    }
    let table = new DataTable('#example', {
        responsive: true,
        language: {
            url: languageUrl,
        },

    });
    var successMessage = "@Html.Raw(SweetAlertMessageSuccess)"
    var errorMessage = "@Html.Raw(SweetAlertMessageError)"
    var TitleMessage = "@Html.Raw(SweetAlertMessageTitle)"
    function CategoryDelet(id) {
        swal({
            title: TitleMessage,

            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                debugger
                if (willDelete) {
                    $.ajax({
                        url: `/Dashboard/category/Delete/${id}`,
                        method: "DELETE",
                        success: function (response) {
                            swal(successMessage, {
                                icon: "success",
                            }).then((e) => {

                                if (e) {
                                    window.location.reload();

                                }
                            })
                        },
                        error: function () {
                            swal(errorMessage, "error");
                        }
                    })

                }
            });
    }
</script>