

@model IQueryable<GetCommentForAdminDTO>


<div asp-validation-summary="All" class="text text-danger"></div>




<table id="example" class="display table table-striped" style="width:100%">
    <thead>
        <tr>

            <th>#</th>
            <th>@_localization.GetKey("DashboardComment0")</th>
            <th>@_localization.GetKey("DashboardComment1")</th>
            <th>@_localization.GetKey("DashboardComment2")</th>
            <th>@_localization.GetKey("DashboardComment3")</th>
            <th>@_localization.GetKey("DashboardComment4")</th>
            <th>@_localization.GetKey("DashboardComment5")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>




        </tr>

    </thead>
    <tbody id="parent">
        @{
            int counter = 0;
        }
        @foreach (var comment in Model)
        {
            counter++;

            <tr>
                <td>@counter</td>

                <td>@comment.UserFullName</td>
                <td>@comment.ConferenceName</td>
                <td>@comment.Content</td>
                <td>@comment.CreatedDate</td>
                <td>@comment.UpdateDate</td>
                <td>@comment.IsSafe</td>
                <th>
                    <button onclick="ApporiveComment('@comment.CommentId')" class="btn btn-outline-success"><i class="fa-solid fa-check"></i></button>
                    <button onclick="DeleteComment('@comment.CommentId')" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                </th>

            </tr>
        }
    </tbody>

    <tfoot>
        <tr>

            <th>#</th>
            <th>@_localization.GetKey("DashboardComment0")</th>
            <th>@_localization.GetKey("DashboardComment1")</th>
            <th>@_localization.GetKey("DashboardComment2")</th>
            <th>@_localization.GetKey("DashboardComment3")</th>
            <th>@_localization.GetKey("DashboardComment4")</th>
            <th>@_localization.GetKey("DashboardComment5")</th>
            <th>@_localization.GetKey("DashboardAuditoriumIndex1")</th>




        </tr>

    </tfoot>
</table>
@{
    var langCode = CultureInfo.CurrentCulture.Name;
    var SweetAlertMessageTitleCommentApporive = _localization.GetKey("SweetAlertMessageTitleCommentApporive");
    var SweetAlertMessageSuccessCommentApporive = _localization.GetKey("SweetAlertMessageSuccessCommentApporive");
    var SweetAlertMessageError = _localization.GetKey("SweetAlertMessageError");
    var SweetAlertMessageTitle = _localization.GetKey("SweetAlertMessageTitle");

}
<script>
    var currentCulture ="@langCode";
    var languageUrl = null;
    var _1 = "@Html.Raw(SweetAlertMessageTitleCommentApporive)"
    var _2 = "@Html.Raw(SweetAlertMessageSuccessCommentApporive)"
    var _3 = "@Html.Raw(SweetAlertMessageError)"
    var delete1 = "@Html.Raw(SweetAlertMessageTitle)"

    if (currentCulture== "az") {
        
    languageUrl =  "//cdn.datatables.net/plug-ins/2.0.7/i18n/az-AZ.json";
    }
    else if (currentCulture== "ru") {
         languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/ru.json";
    }
    else
    {
        languageUrl = "//cdn.datatables.net/plug-ins/2.0.7/i18n/en-GB.json";
    }
    let table = new DataTable('#example', {
        responsive: true,
        language: {
            url: languageUrl,
        },
      
    });
    function ApporiveComment(id) {
        swal({
            title: _1,

            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                debugger
                if (willDelete) {
                    $.ajax({
                        url: `/Dashboard/Comment/ApporiveComment?Id=${id}`,
                        method: "PUT",
                        success: function (response) {
                            swal(_2, {
                                icon: "success",
                            }).then((e) => {

                                if (e) {
                                    window.location.reload();

                                }
                            })
                        },
                        error: function (xhr, status, error) {
                            swal(_3, "error");
                        }
                    })

                }
            });
    }
    function DeleteComment(id) {
        swal({
            title: delete1,

            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                debugger
                if (willDelete) {
                    $.ajax({
                        url: `/Dashboard/Comment/DeleteComment?Id=${id}`,
                        method: "DELETE",
                        success: function (response) {
                            swal(_2, {
                                icon: "success",
                            }).then((e) => {

                                if (e) {
                                    window.location.reload();

                                }
                            })
                        },
                        error: function (xhr, status, error) {
                            swal(_3, "error");
                        }
                    })

                }
            });
    }
</script>